body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.name-heighliter{
    color: orange;
}
.top-halfwidth{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.top-halfwidth img{
    width: 80%;
}
section{
    content: '';
    clear:both;
    overflow: hidden;

}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
